
.bg-curso{
  background-color: blueviolet;
}
.titulo2{
  margin-top: 20px;
  text-align: center;
  color: grey;
}
.caja1{
  margin-left: 100px;
  margin-right: 100px;
}
.buscador{
  margin-top: 2%;
  margin-right: 50%;
  background-color: #393a3ced;
  
}